<section {{ anchor }} {{ attribute }} data-contact-form-block>
	<div class="position-relative pt-130 pb-94 border-radius-15 border-radius-xl-45 bg-3 px-10 px-md-40 px-lg-70">
		<div class="overflow-hidden">
			<div class="position-absolute top-0 start-50 translate-middle-x">
				<div class="fp-section-heading-wrap position-relative bg-body px-24 pb-24 px-lg-50 pb-lg-40 px-xl-70 pb-xl-45">
					<span class="corner left"></span>
					<span class="corner right"></span>
					<h2 class="position-relative z-1 text-nowrap text-center text-1 mb-0">{{ title }}</h2>
				</div>
			</div>
		</div>

		{% if contact_form %}
			<div class="row">
				<div class="col-12 col-xl-10 offset-xl-1">
					<div data-form-body>
						{% filter shortcodes %}
							[contact-form-7 id="{{ contact_form }}" title="Contact form"]
						{% endfilter %}
					</div>
					{% if thank_you_title or thank_you_description %}
						<div class="d-none text-center fp-contact-form-block__thank-you" data-thank-you>
							{% if thank_you_title %}
								<h4 class="h2 mb-40">{{ thank_you_title }}</h4>
							{% endif %}

							{% if thank_you_description %}
								<p class="h5 mb-40">{{ thank_you_description }}</p>
							{% endif %}

							{% if thank_you_link.title and thank_you_link.url %}
								<div class="link">
									<a href="{{ link.url }}" class="fp-button w-100 d-inline-flex align-items-center justify-content-center gap-20">
										{{ thank_you_link.title }}
										<span class="icon border-radius-circle border-1 border-color-body d-flex justify-content-center align-items-center flex-shrink-0">
											<svg width="28" height="28"><use xlink:href="{{ svg_sprite }}#icon-link-arrow"></use></svg>
										</span>
									</a>
								</div>
							{% endif %}
						</div>
					{% endif %}
				</div>
			</div>
		{% endif %}
	</div>
</section>
