{% if title or link %}
	<section {{ anchor }} {{ attribute }}>
		<div class="fp-simple-banner d-inline-flex w-100 w-lg-auto">
			<div class="border-radius-25 border-radius-lg-45 bg-4 p-20 w-100 w-lg-auto d-flex flex-column align-items-lg-center flex-lg-row gap-20 gap-lg-24">
				{% if title %}
					<p class="mb-0 mt-0">{{ title }}</p>
				{% endif %}
				{% if link.url and link.title %}
					<div class="d-flex gap-20 justify-content-between align-items-center">
						<div class="text-accent-1 d-flex align-items-center flex-lg-column gap-3 gap-md-8 gap-lg-5">
							<svg width="24" height="24"><use xlink:href="{{ svg_sprite }}#icon-oclock"></use></svg>
							<span>24/7</span>
						</div>
						<a href="{{ link.url }}" class="fp-button fp-button--small d-flex align-items-center gap-7" target="{{ link.target ?: '_self' }}">
							<span class="icon border-radius-circle border-1 border-color-body d-flex justify-content-center align-items-center flex-shrink-0">
							   <svg width="20" height="20"><use xlink:href="{{ svg_sprite }}#icon-link-arrow"></use></svg>
							</span>
							<span>{{ link.title }}</span>
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}
